{% extends "admin/index.html" %}{% load i18n %}

{% block branding %}
<h1>Management UI</h1>
{% endblock branding %}

{% block content %}
<div id="content-main">
    <div class="module">

        {% if feedback %}
        <p>{{ feedback|safe }}</p>
        {% endif %}
        <h3>Import your Org Here</h3>
        <br>
        <form method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" />
        </form>
    </div>
</div>
{% endblock content %}

{% block sidebar %}
{% if request.user.is_staff and request.user.is_superuser %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>
            Actions
        </h2>
        <table>
            <tr>
                <td>Sync Entire Warehouse</td>
                <td><a target="_blank" href="{% url 'tasks_sync_latest_data' %}" class="addlink">sync</a></td>
            </tr>

        </table>
    </div>
</div>
{% endif %}

{% endblock sidebar %}