{% extends 'ui/base.html' %}
{% block page_content %}
<table>
    <thead>
    <tr>
        <th>Org</th>
        <th>Model</th>
        <th>Last Saved</th>
        <th>Last Started</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    {% for run in pending_runs %}
    <tr>
        <td>{{run.get_org_display}}</td>
        <td>{{run.coll}}</td>
        <td>{{run.last_saved}}</td>
        <td>{{run.last_started}}</td>
        <td>
            <form action="{% url 'mark_completed' run.id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Mark Completed"/>
            </form>
        </td>
    </tr>
    {% endfor %}
    </tbody>

</table>
{% endblock %}
